@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.window-app .window-content {
  background-image: url(../assets/parch-bg.png);
  background-size: cover;
  opacity: 1;
}

.window-app .input-underlined {
  background: unset;
  border: unset;
  border-bottom: 1px solid;
  border-radius: 0;
  margin-right: 0.5em;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.actor .window-content,
.item .window-content {
  font-family: "Merriweather", serif;
  background-image: unset;
  background-image: url(../assets/parch-bg.png);
  background-size: cover;
}

.bold-option {
  font-weight: bold;
  font-size: 14px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0 0 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.half {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.padded {
  padding: 5px;
}

.pusher-right {
  margin-right: 5px;
}

.pusher-bottom {
  margin-bottom: 5px;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.center {
  text-align: center;
}

.margin {
  margin: 5px;
}

.grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.f1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.f2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.f3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.size10 {
  font-size: 10px;
  line-height: 12px;
}

.size11 {
  font-size: 11px;
  line-height: 13px;
}

.size12 {
  font-size: 12px;
  line-height: 14px;
}

.size14 {
  font-size: 14px;
  line-height: 16px;
}

.size16 {
  font-size: 16px;
  line-height: 18px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.acme {
  font-family: "Acme", sans-serif;
}

.hidden {
  display: none !important;
}

.chat-message div {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.chat-message .total-label {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  line-height: 14px;
}

.chat-message .success-label {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 14px;
  font-weight: 700;
  text-align: right;
}

.chat-message .aspect-label {
  font-size: 10px;
}

.dice-image {
  opacity: 1;
}

.dice-image img {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.dice-image.discarded {
  opacity: 0.3;
}

.white-box.chat-item {
  background-color: white;
  background-image: url("../ui/parch-bg.jpg");
  margin: 0 -5px 0 -5px;
  padding: 5px;
  font-family: "Merriweather", serif;
}

.white-box.chat-item h3 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin: 0 0 8px;
  text-align: center;
}

.white-box.chat-item h4 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin: 0 0 8px;
  text-align: center;
}

.white-box.chat-item i {
  margin-left: 2px;
}

.white-box.chat-item .item-img {
  background: -o-radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
  background: radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
  border: 1px solid;
  display: block;
  margin: 0 auto 8px;
  max-height: 52px;
  width: 52px;
}

.white-box.chat-item p {
  font-family: "Merriweather", serif;
  margin: 0 0 4px;
}

.white-box.chat-item .description,
.white-box.chat-item .features {
  font-family: Georgia, serif;
  font-size: 12px;
  line-height: 16px;
}

.white-box.chat-item .loyalty {
  width: 100%;
  margin: 0 0 10px;
  text-align: center;
}

.white-box.chat-item .benefit-name {
  font-weight: bold;
  text-transform: uppercase;
}

/* Styles limited to talisman sheets */
.whitebox {
  /** ACTOR SHEET */
  /** SHEET GENERAL */
  /** ITEM SHEET */
}

.whitebox .sidebar {
  position: fixed;
  width: 180px;
  margin-top: -8px;
  margin-left: -8px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.whitebox .sidebar .content {
  padding: 10px;
  background-color: black;
}

.whitebox .sidebar .input-white {
  color: #ffffff;
}

.whitebox .sidebar .attribute-box {
  padding: 5px;
  margin: 15px 0;
}

.whitebox .sidebar .attribute-box .attribute-row {
  color: white;
  font-family: "Acme", sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.whitebox .sidebar .attribute-box .attribute-row .attribute-name {
  font-size: 24px;
  text-transform: uppercase;
}

.whitebox .sidebar .attribute-box .attribute-row .value {
  font-size: 20px;
  margin: 0;
  border: 1px solid white;
}

.whitebox .sidebar .attribute-box .attribute-row .bonus {
  font-size: 16px;
}

.whitebox .sidebar .savingthrow-box {
  margin-bottom: 20px;
}

.whitebox .sidebar .savingthrow-box .value-row {
  padding: 2px;
  position: relative;
  background-color: black;
  font-family: "Acme", sans-serif;
}

.whitebox .sidebar .savingthrow-box .value-row .value {
  color: white;
  background-color: black;
  position: absolute;
  right: 5px;
  top: -12px;
  max-width: 2.5em;
  font-size: 16px;
  min-height: 45px;
  font-family: "Acme", sans-serif;
}

.whitebox .sidebar .savingthrow-box .content {
  margin: -5px 5px;
  padding: 5px 0;
}

.whitebox .sidebar .savingthrow-box .content .modifier-text {
  font-size: 12px;
  outline: none;
  resize: none;
  overflow: auto;
  color: #cacaca;
}

.whitebox .sidebar .movement-box {
  font-family: "Acme", sans-serif;
}

.whitebox .sidebar .xp-tracker {
  font-size: 10px;
  line-height: 11px;
  color: white;
}

.whitebox .sidebar .sidebar-bottom {
  min-height: 20px;
  background-image: url(../assets/sidebar-bottom.png);
}

.whitebox .actor-sheet-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 175px;
}

.whitebox .actor-sheet-section .actor-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-preferred-size: 110px;
  flex-basis: 110px;
  margin-bottom: 5px;
}

.whitebox .actor-sheet-section .actor-header .image-box {
  -ms-flex-preferred-size: 110px;
  flex-basis: 110px;
  height: 110px;
  margin-right: 5px;
}

.whitebox .actor-sheet-section .actor-header .image-box img {
  border: none;
}

.whitebox .actor-sheet-section .actor-header .info-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-left: 5px;
  margin-right: 5px;
}

.whitebox .actor-sheet-section .actor-header .info-box .actor-name {
  font-family: "Acme", sans-serif;
  font-size: 16px;
}

.whitebox .actor-sheet-section .actor-header .info {
  height: 20px;
  font-size: 11px;
  line-height: 12px;
  padding: 0;
}

.whitebox .actor-sheet-section .actor-header .roller {
  -ms-flex-preferred-size: 150px;
  flex-basis: 150px;
  text-align: center;
}

.whitebox .actor-sheet-section .actor-header .roller img {
  border: none;
}

.whitebox .actor-sheet-section .actor-header .roller .roll-die-d6 {
  background-image: url(../assets/roll-d6-in.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.whitebox .actor-sheet-section .actor-header .roller .roll-die-d6:hover {
  background-image: url(../assets/roll-d6.png);
}

.whitebox .actor-sheet-section .actor-header .roller .roll-die-d20 {
  background-image: url(../assets/roll-d20-in.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.whitebox .actor-sheet-section .actor-header .roller .roll-die-d20:hover {
  background-image: url(../assets/roll-d20.png);
}

.whitebox .actor-sheet-section .actor-header .grid {
  margin: 0;
}

.whitebox .actor-sheet-section .actor-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-top: 10px;
  padding: 0 5px;
}

.whitebox .actor-sheet-section .actor-body .combat-box {
  position: relative;
  padding: 10px 10px 5px 80px;
  min-height: 80px;
}

.whitebox .actor-sheet-section .actor-body .combat-box.p10 {
  padding: 10px 10px 5px 10px;
}

.whitebox .actor-sheet-section .actor-body .combat-box.p40 {
  padding: 10px 10px 5px 40px;
}

.whitebox .actor-sheet-section .actor-body .combat-box ul {
  text-decoration: none;
}

.whitebox .actor-sheet-section .actor-body .combat-box .palcque {
  position: absolute;
  top: -15px;
  left: -10px;
  width: 70px;
  height: 72px;
}

.whitebox .actor-sheet-section .actor-body .combat-box .palcque.ac {
  width: 50px;
  height: 72px;
  background-image: url(../assets/ac-shield-white-50x60.png);
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-color: unset;
}

.whitebox .actor-sheet-section .actor-body .combat-box .palcque .title-section {
  left: 20%;
  -webkit-transform: translate(-12%);
  -ms-transform: translate(-12%);
  transform: translate(-12%);
  background-color: white;
  color: black;
}

.whitebox .actor-sheet-section .actor-body .combat-box .palcque .title-section.ac {
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.whitebox .actor-sheet-section .actor-body .combat-box .palcque .content-section {
  background-color: white;
  min-height: 40px;
  font-size: 16px;
}

.whitebox .actor-sheet-section .actor-body .combat-box .palcque .content-section.ac {
  background-color: unset;
  min-height: 55px;
}

.whitebox .actor-sheet-section .actor-body .abilities.titled-box .title-section {
  border: 1px solid black;
  font-size: 16px;
  background-color: white;
  color: black;
  left: -5px;
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
}

.whitebox .actor-sheet-section .actor-body .abilities.titled-box .content-section {
  -o-border-image: url(../assets/black-box-sm-1.png) 5 stretch;
  border-image: url(../assets/black-box-sm-1.png) 5 stretch;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  padding-top: 20px;
}

.whitebox .actor-sheet-section .spell-group {
  padding: 5px;
  margin-bottom: 5px;
}

.whitebox .actor-sheet-section .spell-group .header {
  padding: 2px 5px;
  background-color: #e6e6e6;
  margin-bottom: 5px;
}

.whitebox .actor-sheet-section .spell-group h3 {
  margin-bottom: 0;
}

.whitebox .actor-sheet-section .spell-group .spell button {
  line-height: 16px;
}

.whitebox .actor-sheet-section .spell-group .spell .memo {
  padding: 1px 5px;
  border: 1px solid #404040;
  border-radius: 2px;
}

.whitebox .enemy-header {
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
  padding: 5px;
  border: 2px solid transparent;
  -o-border-image: url(../ui/border.png) 5 stretch;
  border-image: url(../ui/border.png) 5 stretch;
  background-image: url(../ui/parch-bg.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
}

.whitebox .enemy-header .header-fields {
  -webkit-box-flex: 2 !important;
  -ms-flex: 2 !important;
  flex: 2 !important;
}

.whitebox .titled-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 6px 0;
}

.whitebox .titled-box .title-section {
  text-align: center;
  border: 1px solid white;
  background-color: black;
  position: absolute;
  top: -6px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  padding: 0 5px;
  font-family: "Acme", sans-serif;
  font-size: 11px;
}

.whitebox .titled-box .title-section.white {
  border: 1px solid black;
  background-color: white;
}

.whitebox .titled-box .content-section {
  padding: 5px 5px 3px 5px;
  border: unset;
  border: 3px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-family: "Acme", sans-serif;
  font-size: 14px;
}

.whitebox .titled-box .content-section.v1 {
  -o-border-image: url(../assets/white-box-sm-1.png) 5 stretch;
  border-image: url(../assets/white-box-sm-1.png) 5 stretch;
}

.whitebox .titled-box .content-section.v2 {
  -o-border-image: url(../assets/white-box-sm-2.png) 5 stretch;
  border-image: url(../assets/white-box-sm-2.png) 5 stretch;
}

.whitebox .titled-box .content-section.v3 {
  -o-border-image: url(../assets/white-box-sm-3.png) 5 stretch;
  border-image: url(../assets/white-box-sm-3.png) 5 stretch;
}

.whitebox .titled-box .content-section.b1 {
  -o-border-image: url(../assets/black-box-sm-1.png) 5 stretch;
  border-image: url(../assets/black-box-sm-1.png) 5 stretch;
}

.whitebox .titled-box .button-scroll {
  position: absolute;
  top: -15px;
  right: -5px;
  width: 40px;
  height: 40px;
  background-color: unset;
  color: black;
  background-image: url(../assets/scroll-white-shadow.svg);
  background-repeat: no-repeat;
}

.whitebox .titled-box .button-scroll:hover {
  -webkit-filter: drop-shadow(0px 0px 3px rgba(150, 0, 0, 0.7));
  filter: drop-shadow(0px 0px 3px rgba(150, 0, 0, 0.7));
}

.whitebox .button-plus {
  position: absolute;
  top: -5px;
  right: 5px;
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
}

.whitebox .tab-opener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  position: relative;
}

.whitebox .tab-opener .title {
  font-family: "Acme", sans-serif;
  font-size: 16px;
}

.whitebox .tab-opener .icon {
  position: absolute;
  width: 45px;
  height: 45px;
  right: -15px;
}

.whitebox .tab-opener .icon.bag {
  background-image: url(../assets/swap-bag-stroke.svg);
  pointer-events: none;
}

.whitebox .tab-opener .icon.ink {
  background-image: url(../assets/quill-ink-stroke.svg);
  pointer-events: none;
}

.whitebox .overlay-section {
  position: absolute;
  top: 35px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 55px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.whitebox .overlay-section .papir {
  border: 5px solid transparent;
  -o-border-image: url(../assets/white-papirus-1.png) 5 5 5 5 stretch;
  border-image: url(../assets/white-papirus-1.png) 5 5 5 5 fill stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px;
}

.whitebox .overlay-section .overlay-content {
  position: relative;
  padding: 10px;
  overflow: scroll;
}

.whitebox .overlay-section .overlay-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
}

.whitebox .overlay-section .overlay-content h2 {
  font-family: "Acme", sans-serif;
  border: none;
}

.whitebox .overlay-section .overlay-content h3 {
  font-family: "Acme", sans-serif;
  font-size: 16px;
  border: none;
}

.whitebox .resource-row {
  margin-bottom: 0.2em;
  font-size: 11px;
  line-height: 11px;
}

.whitebox .resource-row span {
  margin-right: 5px;
  border-bottom: 1px solid;
}

.whitebox .resource-row label {
  padding-left: 3px;
}

.whitebox .roll-button {
  width: 120px;
  height: 120px;
  background-image: url(../ui/roll-normal.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.whitebox .roll-button:hover {
  background-image: url(../ui/roll-hover.png);
}

.whitebox .roll-button:active {
  background-image: url(../ui/roll-click.png);
}

.whitebox .profile-image-box {
  width: 100%;
  border: 10px solid transparent;
  -o-border-image: url(../ui/border-rip.png) 50 stretch;
  border-image: url(../ui/border-rip.png) 50 stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.whitebox .profile-image-box .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  height: 150px;
  border: none;
}

.whitebox .underlined-attribute {
  text-decoration: underline;
}

.whitebox .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border-top: none !important;
  border-bottom: none !important;
}

.whitebox .tab {
  display: none;
}

.whitebox .tab.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whitebox .editor {
  width: 100%;
  height: 450px;
}

.whitebox .sheet-body,
.whitebox .sheet-body .tab,
.whitebox .sheet-body .tab .editor {
  height: 100%;
}

.whitebox .spell-tab,
.whitebox .spell-tab .description,
.whitebox .spell-tab .description .editor {
  height: 300px;
}

.whitebox .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.whitebox .item-header .image-box {
  -ms-flex-preferred-size: 110px;
  flex-basis: 110px;
  height: 110px;
  margin-right: 5px;
}

.whitebox .item-header .image-box img {
  border: none;
}

.whitebox .item-header .item-name {
  font-family: "Acme", sans-serif;
  font-size: 16px;
}

.whitebox .item-body {
  padding: 5px;
  border: 2px solid transparent;
  -o-border-image: url(../ui/border.png) 5 stretch;
  border-image: url(../ui/border.png) 5 stretch;
  background-image: url(../ui/parch-bg.jpg);
  background-size: cover;
  min-height: 320px;
}

.whitebox .item-body textarea {
  resize: none;
  max-lines: 4;
  min-height: 90px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.whitebox .item-body .tab {
  height: 100%;
}

.whitebox .item-body .tab .editor {
  height: 320px;
}

.whitebox .sheet-body {
  padding: 5px;
  border: 2px solid transparent;
  -o-border-image: url(../ui/border.png) 5 stretch;
  border-image: url(../ui/border.png) 5 stretch;
  background-image: url(../ui/parch-bg.jpg);
  background-size: cover;
  min-height: 280px;
}

.whitebox .sheet-body textarea {
  resize: none;
  max-lines: 4;
  min-height: 90px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.whitebox .tox .tox-editor-container {
  background: #fff;
}

.whitebox .tox .tox-edit-area {
  padding: 0 8px;
}

.whitebox .checkbox-label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 5px;
  position: relative;
  vertical-align: middle;
}

.whitebox .checkbox-label input {
  position: absolute;
  left: 0;
  top: -5px;
  vertical-align: middle;
}

.whitebox .papirus-box {
  border: 5px solid transparent;
  border-image-slice: 10px;
}

.whitebox .papirus-box.papir1 {
  -o-border-image: url(../assets/border-papirus-1.png) 10 stretch;
  border-image: url(../assets/border-papirus-1.png) 10 stretch;
}

.whitebox .papirus-box.papir2 {
  -o-border-image: url(../assets/border-papirus-2.png) 10 stretch;
  border-image: url(../assets/border-papirus-2.png) 10 stretch;
}

.whitebox .papirus-box.papir3 {
  -o-border-image: url(../assets/border-papirus-3.png) 10 stretch;
  border-image: url(../assets/border-papirus-3.png) 10 stretch;
}

.whitebox .papirus-box.papir4 {
  -o-border-image: url(../assets/border-papirus-4.png) 10 stretch;
  border-image: url(../assets/border-papirus-4.png) 10 stretch;
}

.whitebox .papirus-box.white1 {
  -o-border-image: url(../assets/border-papirus-w-1.png) 10 stretch;
  border-image: url(../assets/border-papirus-w-1.png) 10 stretch;
}

.whitebox .papirus-box.white2 {
  -o-border-image: url(../assets/border-papirus-w-2.png) 10 stretch;
  border-image: url(../assets/border-papirus-w-2.png) 10 stretch;
}

.whitebox .armor-box {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../ui/empty-shield.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.whitebox .armor-box.small {
  width: 22px;
  height: 22px;
}

.whitebox input[type="number"] {
  text-align: center;
}

.whitebox input[type="number"].short {
  min-width: 3em;
  max-width: 3em;
}

.whitebox input.blank {
  background-color: unset;
  border: none;
}

.whitebox .input-underlined {
  background: unset;
  border: unset;
  border-bottom: 1px solid;
  border-radius: 0;
  margin-right: 0.5em;
}

.whitebox .margin-bottom {
  margin-bottom: 5px;
}

.whitebox .padded-sm {
  padding: 5px;
}

.whitebox .tabs {
  height: 40px;
  margin-bottom: 0px !important;
}

.whitebox .tabs .item {
  line-height: 32px;
  font-weight: bold;
}

.whitebox .tabs .item.active {
  text-shadow: none;
  background-image: url(../ui/tab-mark.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.whitebox .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.whitebox .items-list .item-header {
  font-weight: bold;
}

.whitebox .items-list .item {
  min-height: 20px;
  line-height: 16px;
  padding: 0;
  border-bottom: 1px solid #bbb;
  font-family: "Acme", sans-serif;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 2px;
  padding: 2px 0;
}

.whitebox .items-list .item .item-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: 14px;
  margin: 0;
  font-weight: bold;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.whitebox .items-list .item .item-image {
  width: 24px;
  height: 24px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
  display: block;
}

.whitebox .items-list .item .item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.whitebox .items-list .item .item-details.xs {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 32px;
  flex: 0 0 32px;
}

.whitebox .items-list .item .item-details.sm {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}

.whitebox .items-list .item .item-details.md {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}

.whitebox .items-list .item .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 86px;
  flex: 0 0 86px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.whitebox .items-list .item .item-controls.sm {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
}

.whitebox .items-list .item .item-controls a {
  padding-left: 2px;
}

.whitebox .items-list .item .expand-down {
  top: -1px !important;
  bottom: 0 !important;
}

.whitebox .items-list .item .expand-up {
  top: -1px !important;
  bottom: 0 !important;
}

.whitebox .items-list .item #context-menu {
  left: unset;
  right: 0;
  min-width: unset;
  width: unset;
}

.whitebox .items-list .item #context-menu li.context-item {
  line-height: 26px;
}

.whitebox .items-list .item #context-menu .context-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.whitebox .item-memorise.item-notmemorised {
  color: rgba(0, 0, 0, 0.3);
}

.whitebox .item-endure.item-notenduring {
  color: rgba(0, 0, 0, 0.3);
}

.whitebox .item-unequipped {
  color: rgba(0, 0, 0, 0.3);
}

.whitebox .item-unpacked {
  color: rgba(0, 0, 0, 0.3);
}
