@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.window-app .window-content {
  background-image: url(../assets/parch-bg.png);
  background-size: cover;
  opacity: 1;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.actor .window-content,
.item .window-content {
  font-family: "Merriweather", serif;
  background-image: unset;
  background-image: url(../assets/parch-bg.png);
  background-size: cover;
}

.bold-option {
  font-weight: bold;
  font-size: 14px;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2 / span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 0 0 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3 / span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4 / span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 5 / span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7 / span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8 / span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9 / span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10 / span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11 / span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12 / span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  padding: 5px;
  border: 1px solid #999;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.full {
  width: 100%;
  height: 100%;
}

.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.half {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.center {
  text-align: center;
}

.margin {
  margin: 5px;
}

.grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.space-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.f1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.f2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.f3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}

.size10 {
  font-size: 10px;
  line-height: 12px;
}

.size11 {
  font-size: 11px;
  line-height: 13px;
}

.size12 {
  font-size: 12px;
  line-height: 14px;
}

.size14 {
  font-size: 14px;
  line-height: 16px;
}

.size16 {
  font-size: 16px;
  line-height: 18px;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.chat-message div {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.chat-message .total-label {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  line-height: 14px;
}

.chat-message .success-label {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 14px;
  font-weight: 700;
  text-align: right;
}

.chat-message .aspect-label {
  font-size: 10px;
}

.dice-image {
  opacity: 1;
}

.dice-image img {
  width: 30px;
  height: 30px;
  margin-right: 0.5em;
}

.dice-image.discarded {
  opacity: 0.3;
}

.white-box.chat-item {
  background-color: white;
  background-image: url("../ui/parch-bg.jpg");
  margin: 0 -5px 0 -5px;
  padding: 5px;
  font-family: "Merriweather", serif;
}

.white-box.chat-item h3 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin: 0 0 8px;
  text-align: center;
}

.white-box.chat-item h4 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  margin: 0 0 8px;
  text-align: center;
}

.white-box.chat-item i {
  margin-left: 2px;
}

.white-box.chat-item .item-img {
  background: -o-radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
  background: radial-gradient(closest-side, var(--color-highlight) 0%, transparent 100%);
  border: 1px solid;
  display: block;
  margin: 0 auto 8px;
  max-height: 52px;
  width: 52px;
}

.white-box.chat-item p {
  font-family: "Merriweather", serif;
  margin: 0 0 4px;
}

.white-box.chat-item .description,
.white-box.chat-item .features {
  font-family: Georgia, serif;
  font-size: 12px;
  line-height: 16px;
}

.white-box.chat-item .loyalty {
  width: 100%;
  margin: 0 0 10px;
  text-align: center;
}

.white-box.chat-item .benefit-name {
  font-weight: bold;
  text-transform: uppercase;
}

/* Styles limited to talisman sheets */
.whitebox {
  /** ACTOR SHEET */
  /** SHEET GENERAL */
  /** ITEM SHEET */
}

.whitebox .actor-header {
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
  /*

    h3 {
        margin-bottom: 5px;
    }
    .grid {
        margin-top: 0px;
    }

    .side-column {
        width: 220px;
        .attribute,
        .aspect {
            align-items: baseline;
            margin-bottom: 4px;
        }
        .attribute {
            font-weight: bold;
            input {
                border: 2px solid;
            }
        }
    }

    .life-fate-box {
        padding: 5px;
        border: 1px solid #8a7c45;
        border-radius: 6px;
        font-weight: bold;
        background-image: url(../ui/parch-y-bg.jpg);
        input {
            background-color: white;
        }
    }*/
}

.whitebox .actor-header .image-box {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.whitebox .actor-header .info-box {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5px;
}

.whitebox .actor-header .info {
  height: 20px;
  font-size: 11px;
  line-height: 12px;
  padding: 0;
}

.whitebox .actor-header .grid {
  margin: 0;
}

.whitebox .enemy-header {
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
  padding: 5px;
  border: 2px solid transparent;
  -o-border-image: url(../ui/border.png) 5 stretch;
  border-image: url(../ui/border.png) 5 stretch;
  background-image: url(../ui/parch-bg.jpg);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.3);
}

.whitebox .enemy-header .header-fields {
  -webkit-box-flex: 2 !important;
  -ms-flex: 2 !important;
  flex: 2 !important;
}

.whitebox .resource-row {
  margin-bottom: 0.2em;
  font-size: 11px;
  line-height: 11px;
}

.whitebox .resource-row span {
  margin-right: 5px;
  border-bottom: 1px solid;
}

.whitebox .resource-row label {
  padding-left: 3px;
}

.whitebox .roll-button {
  width: 120px;
  height: 120px;
  background-image: url(../ui/roll-normal.png);
  background-repeat: no-repeat;
  cursor: pointer;
}

.whitebox .roll-button:hover {
  background-image: url(../ui/roll-hover.png);
}

.whitebox .roll-button:active {
  background-image: url(../ui/roll-click.png);
}

.whitebox .profile-image-box {
  width: 100%;
  border: 10px solid transparent;
  -o-border-image: url(../ui/border-rip.png) 50 stretch;
  border-image: url(../ui/border-rip.png) 50 stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.whitebox .profile-image-box .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  height: 150px;
  border: none;
}

.whitebox .underlined-attribute {
  text-decoration: underline;
}

.whitebox .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
  border-top: none !important;
  border-bottom: none !important;
}

.whitebox .sheet-body,
.whitebox .sheet-body .tab,
.whitebox .sheet-body .tab .editor {
  height: 100%;
}

.whitebox .spell-tab,
.whitebox .spell-tab .description,
.whitebox .spell-tab .description .editor {
  height: 300px;
}

.whitebox .item-body {
  padding: 5px;
  border: 2px solid transparent;
  -o-border-image: url(../ui/border.png) 5 stretch;
  border-image: url(../ui/border.png) 5 stretch;
  background-image: url(../ui/parch-bg.jpg);
  background-size: cover;
  min-height: 320px;
}

.whitebox .item-body textarea {
  resize: none;
  max-lines: 4;
  min-height: 90px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.whitebox .item-body .tab {
  height: 100%;
}

.whitebox .item-body .tab .editor {
  height: 320px;
}

.whitebox .sheet-body {
  padding: 5px;
  border: 2px solid transparent;
  -o-border-image: url(../ui/border.png) 5 stretch;
  border-image: url(../ui/border.png) 5 stretch;
  background-image: url(../ui/parch-bg.jpg);
  background-size: cover;
  min-height: 280px;
}

.whitebox .sheet-body textarea {
  resize: none;
  max-lines: 4;
  min-height: 90px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.whitebox .tox .tox-editor-container {
  background: #fff;
}

.whitebox .tox .tox-edit-area {
  padding: 0 8px;
}

.whitebox .checkbox-label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 5px;
  position: relative;
  vertical-align: middle;
}

.whitebox .checkbox-label input {
  position: absolute;
  left: 0;
  top: -5px;
  vertical-align: middle;
}

.whitebox .papirus-box {
  border: 5px solid transparent;
  border-image-slice: 10px;
}

.whitebox .papirus-box.papir1 {
  -o-border-image: url(../assets/border-papirus-1.png) 10 repeat;
  border-image: url(../assets/border-papirus-1.png) 10 repeat;
}

.whitebox .papirus-box.papir2 {
  -o-border-image: url(../assets/border-papirus-2.png) 10 repeat;
  border-image: url(../assets/border-papirus-2.png) 10 repeat;
}

.whitebox .item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.whitebox .item-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  border: 1px solid;
  margin-right: 8px;
}

.whitebox .armor-box {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../ui/empty-shield.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.whitebox .armor-box.small {
  width: 22px;
  height: 22px;
}

.whitebox input[type="number"] {
  text-align: center;
}

.whitebox input[type="number"].short {
  min-width: 3em;
  max-width: 3em;
}

.whitebox input {
  margin-right: 5px;
}

.whitebox input.blank {
  background-color: unset;
  border: none;
}

.whitebox .input-underlined {
  background: unset;
  border: unset;
  border-bottom: 1px solid;
  border-radius: 0;
  margin-right: 0.5em;
}

.whitebox .margin-bottom {
  margin-bottom: 5px;
}

.whitebox .padded-sm {
  padding: 5px;
}

.whitebox .tabs {
  height: 40px;
  margin-bottom: 0px !important;
}

.whitebox .tabs .item {
  line-height: 32px;
  font-weight: bold;
}

.whitebox .tabs .item.active {
  text-shadow: none;
  background-image: url(../ui/tab-mark.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.whitebox .items-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}

.whitebox .items-list .item-header {
  font-weight: bold;
}

.whitebox .items-list .item {
  min-height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #bbb;
}

.whitebox .items-list .item .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  margin-right: 5px;
}

.whitebox .items-list .item img {
  display: block;
}

.whitebox .items-list .item-name {
  font-size: 1em;
  margin: 0;
  font-weight: bold;
}

.whitebox .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.whitebox .items-list .item-controls a {
  padding-left: 2px;
}

.whitebox .item-memorise.item-notmemorised {
  color: rgba(0, 0, 0, 0.3);
}

.whitebox .item-endure.item-notenduring {
  color: rgba(0, 0, 0, 0.3);
}

.whitebox .item-unequipped {
  color: rgba(0, 0, 0, 0.3);
}

.whitebox .item-unpacked {
  color: rgba(0, 0, 0, 0.3);
}
