@import url("https://fonts.googleapis.com/css2?family=Martel:wght@400;800&family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

$font-primary: "Roboto", sans-serif;
$font-secondary: "Merriweather", serif;
$font-abr: "Acme", sans-serif;
