.window-app {
    font-family: $font-primary;
    background-color: white;
    .window-content {
        background-image: url(../assets/parch-bg.png);
        background-size: cover;
        opacity: 1;
    }

    .input-underlined {
        background: unset;
        border: unset;
        border-bottom: 1px solid;
        border-radius: 0;
        margin-right: 0.5em;
    }
}

.rollable {
    &:hover,
    &:focus {
        color: #000;
        text-shadow: 0 0 10px red;
        cursor: pointer;
    }
}

.actor,
.item {
    .window-content {
        font-family: $font-secondary;
        background-image: unset;
        background-image: url(../assets/parch-bg.png);
        background-size: cover;
    }
}

.bold-option {
    font-weight: bold;
    font-size: 14px;
}
