// .item-form {
//     font-family: $font-primary;
// }

/** ACTOR SHEET */

.sidebar {
    position: fixed;
    width: 180px;
    min-height: 560px;
    padding: $padding-md;
    background-color: black;
    margin-top: -$padding-md;
    margin-left: -$padding-md;
    color: white;
    //top: -10px;
    //left: -10px;
    .input-white {
        color: #ffffff;
    }

    .attribute-box {
        border: 1px solid white;
        padding: $padding-sm;
        .attribute-row {
            color: white;
            font-family: $font-abr;
            align-items: center;
            justify-content: space-between;
            .attribute-name {
                font-size: 24px;
                text-transform: uppercase;
            }
            .value {
                font-size: 20px;
                margin: 10px 0;
                border: 1px solid white;
            }
            .bonus {
                font-size: 16px;
            }
        }
    }

    .xp-tracker {
        font-size: 11px;
        color: white;
    }
}
.actor-sheet-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    //background-color: yellow;
    margin-left: 175px;

    .actor-header {
        //background-color: turquoise;
        display: flex;
        flex-direction: row;
        flex-basis: 110px;

        .image-box {
            flex-basis: 105px;
            height: 100px;
            img {
                border: none;
            }
        }
        .info-box {
            flex: 1;
            margin-right: $margin-sm;
            .actor-name {
                font-family: $font-abr;
            }
        }
        .info {
            height: 20px;
            font-size: 11px;
            line-height: 12px;
            padding: 0;
        }
        .roller {
            img {
                border: none;
            }
        }

        .grid {
            margin: 0;
        }
        /*
    
        h3 {
            margin-bottom: 5px;
        }
        .grid {
            margin-top: 0px;
        }
    
        .side-column {
            width: 220px;
            .attribute,
            .aspect {
                align-items: baseline;
                margin-bottom: 4px;
            }
            .attribute {
                font-weight: bold;
                input {
                    border: 2px solid;
                }
            }
        }
    
        .life-fate-box {
            padding: 5px;
            border: 1px solid #8a7c45;
            border-radius: 6px;
            font-weight: bold;
            background-image: url(../ui/parch-y-bg.jpg);
            input {
                background-color: white;
            }
        }*/
    }

    .actor-body {
        display: flex;
        flex: 1;
        background-color: rgb(196, 196, 196);
    }
}

.enemy-header {
    flex: unset;
    padding: 5px;
    border: 2px solid transparent;
    border-image: url(../ui/border.png) 5 stretch;

    background-image: url(../ui/parch-bg.jpg);
    background-size: cover;
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    .header-fields {
        flex: 2 !important;
    }
}

.titled-box {
    position: relative;
    //background-color: #ff00ee;
    display: flex;
    flex: 1;
    margin: 10px 0px;
    .title-section {
        text-align: center;
        border: 1px solid rgb(255, 255, 255);
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-50%);
        background-color: black;
        //color: black;
        padding: 0 5px;
        font-family: $font-abr;
        font-size: 11px;
    }
    .content-section {
        padding: 5px 5px 3px 5px;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-family: $font-abr;
        font-size: 14px;
        //color: black;
        //background-color: white;
    }
}

.resource-row {
    margin-bottom: 0.2em;
    font-size: 11px;
    line-height: 11px;
    span {
        margin-right: 5px;
        border-bottom: 1px solid;
    }
    label {
        padding-left: 3px;
    }
}

.roll-button {
    width: 120px;
    height: 120px;
    background-image: url(../ui/roll-normal.png);
    background-repeat: no-repeat;
    cursor: pointer;
    &:hover {
        background-image: url(../ui/roll-hover.png);
    }
    &:active {
        background-image: url(../ui/roll-click.png);
    }
}

.profile-image-box {
    width: 100%;
    //height: 100%;
    border: 10px solid transparent;
    border-image: url(../ui/border-rip.png) 50 stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    .profile-img {
        flex: 0 0 150px;
        height: 150px;
        border: none;
    }
}

.underlined-attribute {
    text-decoration: underline;
}

/** SHEET GENERAL */

.sheet-tabs {
    flex: 0;
    border-top: none !important;
    border-bottom: none !important;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
    height: 100%;
}

.spell-tab,
.spell-tab .description,
.spell-tab .description .editor {
    height: 300px;
}

.item-body {
    padding: 5px;
    border: 2px solid transparent;
    border-image: url(../ui/border.png) 5 stretch;
    background-image: url(../ui/parch-bg.jpg);
    background-size: cover;
    min-height: 320px;
    textarea {
        resize: none;
        max-lines: 4;
        min-height: 90px;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
}
.item-body .tab {
    height: 100%;
}
.item-body .tab .editor {
    height: 320px;
    //margin-bottom: 10px;
}

.sheet-body {
    padding: 5px;
    border: 2px solid transparent;
    border-image: url(../ui/border.png) 5 stretch;
    background-image: url(../ui/parch-bg.jpg);
    background-size: cover;
    min-height: 280px;
    //overflow-y: scroll;

    textarea {
        resize: none;
        max-lines: 4;
        min-height: 90px;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
    }
}

.tox {
    .tox-editor-container {
        background: $c-white;
    }

    .tox-edit-area {
        padding: 0 8px;
    }
}

.checkbox-label {
    display: inline-block;
    padding-left: 30px;
    margin-bottom: 5px;
    position: relative;
    vertical-align: middle;

    input {
        position: absolute;
        left: 0;
        top: -5px;
        vertical-align: middle;
    }
}

.papirus-box {
    border: 5px solid transparent;
    border-image-slice: 10px;
    &.papir1 {
        border-image: url(../assets/border-papirus-1.png) 10 repeat;
    }
    &.papir2 {
        border-image: url(../assets/border-papirus-2.png) 10 repeat;
    }
}

/** ITEM SHEET */

.item-header {
    display: flex;
    flex-direction: row;

    .profile-img {
        flex: 0 0 100px;
        height: 100px;
        border: 1px solid;
        margin-right: 8px;
    }
}
.armor-box {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-image: url("../ui/empty-shield.svg");
    background-size: contain;
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position: center;
    &.small {
        width: 22px;
        height: 22px;
    }
}

input[type="number"] {
    &.short {
        min-width: 3em;
        max-width: 3em;
    }
    text-align: center;
}

input {
    &.blank {
        background-color: unset;
        border: none;
    }
    // margin-right: 5px;
}

.input-underlined {
    background: unset;
    border: unset;
    border-bottom: 1px solid;
    border-radius: 0;
    margin-right: 0.5em;
}

.margin-bottom {
    margin-bottom: 5px;
}

.padded-sm {
    padding: $padding-sm;
}
