<div class="flexcol">
    <div class="flexrow" style="margin-bottom: 5px">
        <input type="text" value="{{title}}" class="label input-blank acme" style="font-size: 18px" />
    </div>
    {{#if tn_show}}
    <div class="flexrow" style="margin-bottom: 5px; border: 1px solid rgb(153, 153, 153); padding: 5px">
        <span class="flexrow" style="align-items: center; justify-content: center; flex: 2">
            <label style="flex: 2" class="acme">{{tn_label}}</label>
            <input type="number" class="tn input-underlined acme" style="text-align: center" value="{{tn}}" />
        </span>
    </div>
    {{/if}}
    <div class="flexrow" style="margin-bottom: 5px; border: 1px solid rgb(153, 153, 153); padding: 5px">
        {{#if bonus_show}}
        <span class="flexrow" style="align-items: center; justify-content: center; flex: 2">
            <label style="flex: 2" class="acme">{{bonus_label}}</label>
            <input type="number" class="bonus input-underlined acme" style="text-align: center" value="{{bonus}}" />
        </span>
        {{/if}} {{#if mod_show}}
        <span class="flexrow" style="align-items: center; justify-content: center; flex: 2">
            <label style="flex: 2" class="acme">{{mod_label}}</label>
            <input type="number" class="mod input-underlined acme" style="text-align: center" value="{{mod}}" />
        </span>
        {{/if}}
    </div>
    {{#if roll_above_show}}
    <div class="flexrow">
        <label for="" class="acme">Roll Above</label>
        <input type="checkbox" class="roll-above" checked />
    </div>
    {{/if}}
</div>
