<div class="flexcol">
    <div class="flexrow" style="margin-bottom: 5px">
        <input type="text" value="{{label}}" class="label input-blank acme" style="font-size: 18px" />
    </div>
    {{#unless with_mod}}
    <div class="flexrow flex-center" style="margin-bottom: 5px; border: 1px solid rgb(153, 153, 153); padding: 5px">
        <div class="flexrow" style="max-width: 200px">
            <span class="flexrow flex-center">
                <label style="flex: 2" class="acme">X:</label>
                <input type="number" class="tn input-underlined acme" style="text-align: center" value="{{tn}}" />
            </span>
            {{#ifCond num '==' 1}}
            <span class="flexrow flex-center acme size16">in</span>
            <span class="flexrow flex-center acme size16">6</span>
            {{/ifCond}} {{#ifCond num '>' 1}}
            <span class="flexrow flex-center acme size16">vs.</span>
            <span class="flexrow flex-center acme size16">{{num}}d6</span>
            {{/ifCond}}
        </div>
    </div>
    {{/unless}} {{#if with_mod}}
    <div class="flexrow" style="margin-bottom: 5px; border: 1px solid rgb(153, 153, 153); padding: 5px">
        <span class="flexrow" style="align-items: center; justify-content: center; flex: 2">
            <label style="flex: 2" class="acme">X:</label>
            <input type="number" class="tn input-underlined acme" style="text-align: center" value="{{tn}}" />
        </span>
        <span class="flexrow" style="align-items: center; justify-content: center">+</span>
        <span class="flexrow" style="align-items: center; justify-content: center; flex: 2">
            <label style="flex: 2" class="acme">Modifier:</label>
            <input type="number" class="mod input-underlined acme" style="text-align: center" value="{{mod}}" />
        </span>
    </div>
    {{/if}}
    <div class="flexrow" style="margin-bottom: 5px">
        <div class="flex-group-center">
            <label for="" class="acme">Public</label>
            <input type="checkbox" class="visible" {{#if visible}}checked{{/if}} />
        </div>
    </div>
</div>
