<form class="{{cssClass}}" autocomplete="off">
    <div class="item-header pusher-bottom">
        <div class="image-box papirus-box papir2">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <div style="margin-right: 5px; flex: 1">
            <div class="item-name papirus-box papir1"><input name="name" type="text" value="{{item.name}}" class="blank" /></div>
        </div>
        <div class="">
            <div class="titled-box" style="padding-top: 0">
                <div class="title-section white" style="font-size: 16px">Bonus</div>
                <div class="content-section b1" style="min-width: 100px; min-height: 70px; font-size: 22px">
                    <input type="text" name="data.bonus" value="{{data.bonus}}" class="blank" style="max-width: 90px" />
                </div>
            </div>
        </div>
    </div>

    <div class="flexrow">
        <textarea name="data.description" style="resize: none; overflow: auto" rows="4" placeholder="...some description">{{data.description}}</textarea>
    </div>
</form>
