<form class="{{cssClass}}" autocomplete="off">
    <div class="item-header pusher-bottom">
        <div class="image-box papirus-box papir2">
            <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        </div>
        <div style="margin-right: 5px; flex: 1">
            <div class="item-name papirus-box papir1"><input name="name" type="text" value="{{item.name}}" class="blank" /></div>
            <div>
                <span class="flexrow align-center">
                    <label for="data.weight" style="flex: 1">Weight</label>
                    <input type="text" name="data.weight" value="{{data.weight}}" class="input-underlined" style="flex: 2" />
                </span>
                <span class="flexrow align-center">
                    <label for="data.cost" style="flex: 1">Cost</label>
                    <input type="text" name="data.cost" value="{{data.cost}}" class="input-underlined" style="flex: 2" />
                </span>
            </div>
        </div>
        <div class="padded">
            <div class="titled-box">
                <div class="title-section white" style="font-size: 16px; top: -6px">AC</div>
                <div
                    class="content-section b1"
                    style="
                        padding-top: 0;
                        min-width: 100px;
                        min-height: 70px;
                        font-size: 22px;
                        background-image: url(/systems/white-box-vtt/assets/ac-shield-white-60x72.png);
                        background-repeat: no-repeat;
                        background-position: center;
                        border: none;
                    "
                >
                    <input type="text" name="data.ac.value" value="{{data.ac.value}}" class="blank" style="max-width: 50px" />
                </div>
            </div>
        </div>
    </div>

    <div class="flex-center flexcol papirus-box papir4 padded pusher-bottom">
        <label for="data.armor_type" class="acme">Type</label>
        <select name="data.armor_type">
            {{#select data.armor_type}}
            <option value="armor">Armor</option>
            <option value="shield">Shield</option>
            {{/select}}
        </select>
    </div>

    <div class="flexrow">
        <textarea name="data.description" style="resize: none; overflow: auto" rows="4" placeholder="...some description">{{data.description}}</textarea>
    </div>
</form>
